@keyframes glowPulse{
    0%{
        box-shadow:0 0 10px cyan;
    }

    50%{
        box-shadow:
            0 0 20px cyan,
            0 0 40px #008cff;
    }

    100%{
        box-shadow:0 0 10px cyan;
    }
}

.glow{
    animation:glowPulse 3s infinite;
}
